<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Éter de Gemme | Importadores de perfumes originales</title>
    <link rel="stylesheet" href="styles.css">
</head>
<script>
    const burger = document.querySelector('.burger');
    const navLinks = document.querySelector('.nav-links');

    burger.addEventListener('click', () => {
        navLinks.classList.toggle('active');
    });
</script>

<body>
    <nav class="navbar">
        <div class="logo">Éter de Gemme | Perfumería</div>
        <ul class="nav-links">
            <li><a href="#Inicio">INICIO</a></li>
            <li><a href="#Perfumes">PERFUMES</a></li>
            <li><a href="#Catalogo">CATÁLOGO</a></li>
            <li><a href="#Ofertas">OFERTAS</a></li>
        </ul>
        <button class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    <header id="inicio" class="hero-section">
        <img src="image/portada.jpg" alt="Imagen de portada">
    </header>
    <main>
        <section id="servicios" class="cards-container">
            <h2>Perfumes</h2>
            <div class="cards">
                <div class="card">
                    <img src="image/hombres.jpg" alt="Hombres">
                    <h3>Hombres</h3>
                    <button onclick="verDetalle('Hombres')">Ver Detalle</button>
                </div>
                <div class="card">
                    <img src="image/mujeres.jpg" alt="Mujeres">
                    <h3>Mujeres</h3>
                    <button onclick="verDetalle('Mujeres')">Ver Detalle</button>
                </div>
                <div class="card">
                    <img src="image/unisex.jpg" alt="Unisex">
                    <h3>Unisex</h3>
                    <button onclick="verDetalle('Unisex')">Ver Detalle</button>
                </div>
            </div>
        </section>
        <section id="contacto" class="contact-section">
            <div class="contact-container">
                <div class="contact-item">
                    <h2>Acerca de nosotros</h2>
                    <p>Somos una empresa apasionada por ofrecer productos originales y de alta calidad, importados directamente para garantizar autenticidad y confianza.
                        Nos enfocamos en brindar una experiencia de compra segura, cercana y personalizada, acompañando a nuestros clientes desde el primer contacto hasta la entrega final.
                    </p>
                </div>
                <div class="contact-item">
                    <h2>Contacto</h2>
                    <p>Escríbenos por WhatsApp: <a href="https://wa.me/573128463383" target="_blank">+57 3128463383</a></p>
                    <p>Correo: <a target="_blank">eterdegemme@gmail.com</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/eterdegemme?igsh=MTIwcXdpeHN1NmJhMw==" target="_blank">@eterdegemme</a></p>
                </div>
                <div class="contact-item">
                    <h2>Horarios de atención</h2>
                    <p>Lunes a Viernes: 8 a.m a 6 p.m. </p>
                    <p>Sábados: 10 a.m a 4 p.m.</p>  
                </div>
                
            </div>
        </section>        
            
        </section>
    </main>
    <footer>
        <p>©copy; 2025 Todos los derechos reservados </p>
    </footer>

</body>
</html>